<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HappyHappy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../public/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="../public/stylesheets/custom_c.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../public/javascripts/bootstrap.min.js"></script>
    <script src="../public/javascripts/happyhappy.js" ></script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="../public/javascripts/comment/inlineDisqussions.js"></script>

    <link rel="stylesheet" type="text/css" href="../public/stylesheets/comment/inlineDisqussions.css" />


    <script>
        disqus_shortname = 'jingxiao';
        jQuery(document).ready(function() {
            jQuery("p").inlineDisqussions();
        });
    </script>

</head>
<body>
<p data-disqus-identifier="disqussion-12">
    Lorem ipsum...

</p>



</body>
</html>