<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>My Resume</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../public/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="../public/stylesheets/custom_c.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="bootstrap.min.js"></script>
    <script src="myresume.js" ></script>


</head>
<body>

<!--<nav class="navbar navbar-default">-->
  <!--<div class="container-fluid">-->
    <!--<div class="navbar-header">-->


    <!--</div>-->

    <!--<form class="navbar-form navbar-left" role="search">-->
      <!--<div class="col-xs-4" align="center">-->
        <!--<div class="form-group">-->
          <!--<input type="text" class="form-control" placeholder="Search">-->
        <!--</div>-->
      <!--</div>-->

      <!--<button type="submit" class="btn btn-default">Search</button>-->
    <!--</form>-->


  <!--</div>-->
<!--</nav>-->


<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="../" class="navbar-brand">ResShare</a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li>
          <a href="">Resumes</a>
        </li>
        <li>
          <a href="">Function 2</a>
        </li>
        <li>
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search Resume">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="">XX's HomePage</a>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download">Mailbox <span class="badge">3</span></a>
          <ul class="dropdown-menu" aria-labelledby="download">
            <li><a href=""> System <span class="badge">2</span></a></li>
            <li class="divider"></li>
            <li><a href=""> Request <span class="badge">1</span></a></li>
          </ul>
        </li>
      </ul>

    </div>
  </div>
</div>


<!--<form class="form-vertical">-->
  <!--<fieldset>-->

  <!--</fieldset>-->

<!--</form>-->


<div class="container">
  <div class="bs-docs-section">
    <div class="col-xs-4">


      <div class="container">
        <img src="img/default_profile.jpg" class="img-circle" alt="Cinque Terre" width="200" height="180">
      </div>

      <table class="table table-striped table-hover " id="myresumelist">
        <thead>
        <tr>
          <th>#</th>
          <th>Resume List</th>
        </tr>
        </thead>
        <tbody class="active" id="myresumelistbody">
        <tr onclick="selectResume();">
          <td>1</td>
          <td>Column content</td>
        </tr>

        </tbody>
      </table>
    </div>


    <div class="col-xs-8">


      <input type="file" id="add_btn" size="char">Choose a new resume to upload</input>

      <a href="#" class="btn btn-primary" onclick="uploadResume()" id="upload_resume">Upload Resume</a>
      <a href="#" class="btn btn-primary"  onclick="updateResume()" id="update_resume"  disabled = "disabled">Update Resume</a>
      <a href="#" class="btn btn-primary"  onclick="deleteResume()" id="delete_resume" disabled>Delete Resume</a>


      <!--<div class="jumbotron container-fluid" >-->
        <!--<div class="jumbotron"  >-->
          <!--<p>Area for showing resume.</p>-->
          <iframe id="organigram-iFrame" src="http://docs.google.com/gview?url=https://s3.amazonaws.com/reshare-resume/test.pdf&embedded=true" onmousedown="return false;" onselectstart="return false;"
                  style="width:650px; height:500px;" frameborder="0"></iframe>

        <!--</div>-->



        <div class="jumbotron">
          <p>Area for showing comments.</p>
        </div>
      <!--</div>-->

    </div>

  </div>

</div>




</body>
</html>
