<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<!-- saved from url=(0031)https://bootswatch.com/journal/ -->
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>ResShare</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../../../stylesheets/bootstrap.css" media="screen">
    <link rel="stylesheet" href="../../../stylesheets/custom_c.min.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="../bower_components/html5shiv/dist/html5shiv.js"></script>
    <script src="../bower_components/respond/dest/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" async="" src="https://ssl.google-analytics.com/ga.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="../../../javascripts/bootstrap.min.js"></script>
    <script src="../../../javascripts/custom.js"></script>
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.2.21.min.js"></script>
    <style>
    </style>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a id="myhome_page_link" href="/" class="navbar-brand">ResShare</a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a id="name_page"  href=""></a>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download">Mailbox <span
                                class="badge">3</span></a>
                </li>
            </ul>

        </div>
    </div>
</div>

<div class="container">
    <div class="bs-docs-section">
        <div class="row">
            <div class="col-lg-4">

                <div class="affix leftbound">
                    <div class="row">
                        <div class="col-lg-4"><img id="prof_img" class="img-responsive img-circle"></div>
                        <div class="col-lg-8"><h3 id="name"></h3></div>
                    </div>



                    <h6 class="divider"></h6>

                    <!--
                        <div class="row">
                            <div class="col-lg-1">
                                <img src="../public/images/mail4.png">
                            </div>
                            <div class="col-lg-10">
                                <p id="email"> abc@example.com</p>
                            </div>
                        </div>
                        <h5 id="loc"><img src="../public/images/pin56.png"> New York, NY</h4>
                        <h5 id="edu"><img src="../public/images/graduation-cap2.png"> Columbia University</h4>
                        <div id="show"></div>
                    -->

                    <div class="list-group table-of-contents">
                        <a class="list-group-item" id="link-info">Profile</a>
                        <a class="list-group-item" id="link-admin">Account Setting</a>
                        <a class="list-group-item" id="link-topics">My Events</a>
                        <a class="list-group-item" id="link-notification">Notifications</a>
                        <a class="list-group-item" id="link-resume">My Resume</a>
                    </div>


                </div>

            </div>

            <div class="col-lg-8" id="main-panel">

                <h2>Edit Profile</h2>
                <div class="divider"></div>

                <div id = "ifself">
                <div class="form-group">
                    <label class="control-label" for="disabledInput">Email</label>
                    <input class="form-control" id="email" type="text" placeholder="" disabled="">
                </div>
                <div class="form-group">
                    <label class="control-label" for="focusedInput">User Name</label>
                    <input class="form-control" id="set-username" type="text" value="">
                </div>
                <div class="form-group">
                    <label class="control-label" for="focusedInput">Last Name</label>
                    <input class="form-control" id="set-lastname" type="text" value="">
                </div>
                <div class="form-group">
                    <label class="control-label" for="focusedInput">First Name</label>
                    <input class="form-control" id="set-firstname" type="text" value="">
                </div>
                <div class="form-group">
                    <label class="control-label" for="focusedInput">Company</label>
                    <input class="form-control" id="set-company" type="text" value="">
                </div>

                <div class="form-group" id="int-f-cb">
                    <label class="control-label" for="focusedInput">Interested Field</label>

                </div>

                <div class="form-group">

                </div>

                <span class="btn btn-info btn-file" class="btn btn-info btn-file" id="img_upload">
                        Upload Avatar <input class="file" type="file" id="upload" size="chars"  accept="image/*">
                        </span>
                <button type="button" class="btn btn-primary"  onclick="editProfile()">Save
                    changes
                </button>

                </div>
                <div id="else">
                    <div class="row">
                        <div class="col-lg-4">
                            <h3>User Name</h3>
                        </div>
                        <div class="col-lg-8">
                            <h3 id="else-username"></h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <h4>Email</h4>
                        </div>
                        <div class="col-lg-8">
                            <h4 id="else-email"></h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <h4>First Name</h4>
                        </div>
                        <div class="col-lg-8">
                            <h4 id="else-firstname"></h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <h4>Last Name</h4>
                        </div>
                        <div class="col-lg-8">
                            <h4 id="else-lastname"></h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <h4>Company</h4>
                        </div>
                        <div class="col-lg-8">
                            <h4 id="else-company"></h4>
                        </div>
                    </div>

                    <div class="row">
                        <div>
                            <h4>Interested Fields</h4>
                        </div>
                        <div id="else-int">

                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>

</div>
<div id="get-uid"> <%= uid %> </div>
<script src="../../../javascripts/profile_info.js"></script>

</body>
</html>